// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google        : 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800';
$font-family--primary    : 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary  : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Descriptive Base Colors

$white    	: #fff;
$black    	: #0b0b0b;
$grey     	: #797e83;
$dark-gray	: #6a767c;

// Flat UI Color Pallet:

$turquioise		: #1dcfac; 
$green-sea		: #16a085;  
$emerald		: #2ecc71; 
$nephritis		: #27ae60;
$peter-river	: #3498db;
$belize-hole	: #2980b9; 
$amethyst		: #9b59b6; 
$wisteria		: #8e44ad;
$wet-asphalt	: #34495e;
$midnight-blue	: #2c3e50; 
$sun-flower		: #f1c40f; 
$orange			: #f39c12; 
$carrot			: #e67e22; 
$pumpkin		: #d35400; 
$alizarin		: #e74c3c; 
$pomegranate	: #c0392b;
$clouds			: #ecf0f1;
$silver			: #bdc3c7;  
$concrete		: #95a5a6;
$asbestos		: #7f8c8d;

// Color Usage

$color-primary   : $black;
$color-secondary : $grey;
$color-accent    : $white;
$color-shadow    : rgba($black, .2);
$color-text		 : $dark-gray;


// Color Palette Modifiers

$color-palettes: (
	grey: (
		xx-light : lighten($grey, 43%),
		x-light  : lighten($grey, 35%),
	  light    : lighten($grey, 12%),
	  base     : $grey,
	 	dark     : darken($grey, 8%),
	 	x-dark   : darken($grey, 16%)
	),
	black: (
		light    : lighten($black, 10%),
		base     : $black,
		dark     : darken($black, 10%)
	)
);

// UI Colors

$ui-colors: (
	default : $turquioise,
	success : $emerald,
	error   : $alizarin,
	warning : $orange,
	info    : $peter-river
);

// Text

$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

// Border radius

$br--default    : .4em;
$br--capsule    : 25px;
$br--round      : 50%;

// Transitions

$trns-duration  : .3s;

// Path to Assets

$path--img        :  "../images/";
$path--root       :  "../../";
$path--font       :  "../fonts/";
$path--icons      :  "../icons/";
$path--bower      :  "../../bower-components/";