// ==========================================================================
// Buttons
// ==========================================================================

.btn {
	@include bg-colors($ui-colors);
}

[class^="btn--"] {
  @extend %center-align;
  @extend %btn;
  margin-bottom: em(20px, 14px); 
  width: auto;
  display: inline-block;
  margin-right: em(15px, 14px);
}